*{
    margin: 0;
    padding: 0px;
    box-sizing: border-box;
}

body{
    width: 100vw;
    height: 100vh;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    overflow: hidden;
    background-color: #edf0f5;
    color: #222;
    overflow: auto;
}

div.container{
    display: grid;
    grid-template-rows: 100px 1fr;
    width: 100vw;
   /*  height: 100vh; */
}

div.top{
    display: grid;
    justify-items: center; /* horizontal */
    align-items: center; /* vertical */
    width: 100%;
    color: #fff;
    font-size: 26px;
    background-color: #3e5b99;
}
div.content{
    display: grid;
    justify-items: center; /* horizontal */
    align-items: center; /* vertical */
    width: 100%;
    height: 100%;
}

input{
    width: 100%;
    height: 40px;
    padding: 0px 10px;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    color: #222;
}

button{
    width: 100%;
    height: 40px;
    cursor: pointer;
}

button.ok{
    border: none;
    outline:none;
    background-color: #5d994a;
    color: #fff;
}

.mt10{
    margin-top: 10px;
}
.mt20{
    margin-top: 20px;
}